<% @posts.each do |post| %>
	<h2><%= post.title %></h2>
	<div><%= truncate(post.body, :length => 35) %></div>
	<div><%= "created at" + post.created_at.to_s(:rfc822) %></div>
	<br>
	<%= link_to "Read", post %>
	<% end %>